<template>
    <router-view class="news my-8 lg:px-32 px-2">

    </router-view>
</template>



<style>
    .br1{
        border :1px solid red;
    }
    .activeTabMen{
        @apply bg-secondary text-grays-50 border-secondary hover:text-grays-50;
    }

</style>

