
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Thin.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 100;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-ThinItalic.ttf')
            format('woff2');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-ExtraLight.ttf')
            format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 200;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf')
            format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Light.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-LightItalic.ttf')
            format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Regular.ttf')
            format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Italic.ttf') format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Medium.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-MediumItalic.ttf')
            format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-SemiBold.ttf')
            format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf')
            format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Bold.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-BoldItalic.ttf')
            format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-ExtraBold.ttf')
            format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf')
            format('ttf');
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-Black.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 900;
        font-display: swap;
        src: url('~@/assets/fonts/poppins/Poppins-BlackItalic.ttf')
            format('ttf');
    }
    
}
