<template>
    <div>
        <hooper
            :centerMode="centerMode" 
            :wheelControl="wheelControl"
            :mouseDrag="mouseDrag"
            :autoPlay="autoPlay" 
            :playSpeed="playSpeed"
            :itemsToShow="itemsToShow"
            :infiniteScroll="infiniteScroll"
        >
            <slide 
                v-for="(item, i) in dtImg" :key="i" 
            >
               
                <progressive-img
                    :src="item.image ? item.image : item.src"
                    :placeholder="imgPreload"
                    :blur=30
                    class="w-28 flex justify-center mx-auto"
                />

            </slide>
            
            <hooper-navigation slot="hooper-addons" v-if="nav"></hooper-navigation>
            <hooper-pagination slot="hooper-addons" v-if="nav"></hooper-pagination>
            <!-- <hooper-progress slot="hooper-addons" ></hooper-progress> -->
        </hooper>
       
    </div>
</template>

<script>
import {
    Hooper,
    Slide,
    Navigation as HooperNavigation,
    Pagination as HooperPagination,
    Progress as HooperProgress
} from 'hooper';
import 'hooper/dist/hooper.css';

export default {
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        HooperPagination,
        HooperProgress
    },
    data() {
        return {
            imgPreload:require(`@/assets/img/404.jpg`)
        }
    },
    props:{
        dtImg: {
            type: Array,
        },
        nav: {
            type: Boolean,
            default: true
        },
        centerMode: {
            type: Boolean,
            default: true
        },
        mouseDrag: {
            type: Boolean,
            default: false
        },
        wheelControl:{
            type: Boolean,
            default: false
        },
        autoPlay:{
            type: Boolean,
            default: false
        },
        playSpeed:{
            type: Number,
            default: 6000
        },
        itemsToShow:{
            type: Number,
            default: 1
        },
        infiniteScroll:{
            type: Boolean,
            default: true
        }
    }
}

</script>

<style scoped>
    .hooper-slide {
        display: flex;
        justify-content: center;
    }
    /* @layer components {
        .hooper{
            @apply h-full max-h-banner overflow-hidden;
        }

        .hooper-prev, .hooper-next{
            @apply bg-white p-2 rounded-sm bg-opacity-50
        }

        .hooper-next{
            @apply right-10
        }

        .hooper-prev{
            @apply left-10
        }

        .hooper-progress{
            @apply   bg-grays-400 w-72;
           
            left:200px;
        }

        .hooper-progress-inner{
            @apply bg-white;
        }
    } */
</style>