<template>
    <div>
		
		<div class="min-h-screen flex items-center justify-center px-4">
    
			<div class="max-w-4xl  bg-white w-full rounded-lg shadow-xl">
				<div class="p-4 border-b">
					<h2 class="text-2xl ">
						Applicant Information 
					</h2>
					
                    <button class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-1 px-4 rounded mt-3" @click="showToast">Show toast</button>
				</div>
				<div>
					<div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b" v-for="(item, i) in fpComponents" :key="i">
						<p class="text-gray-600">
							{{item.key}}
						</p>
						<p class="overflow-scroll">
							{{item.value}}
						</p>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
</template>

<script>
import Fingerprint2 from 'fingerprintjs2'; // Introduce fingerprintjs2

export default {
    name: 'App',
    components: {},
    data() {
        return {
			fpComponents: []
		};

    },
    async created() {
        // You should not run fingerprints directly when or after the page loads. Instead, use setTimeout or requestIdleCallback to delay it for a few milliseconds to ensure consistent fingerprints.
        if (window.requestIdleCallback) {
            requestIdleCallback(() => {
                this.createFingerprint();
            });
        } else {
            setTimeout(() => {
                this.createFingerprint();
            }, 500);
        }
    },
    methods: {
        // Create browser fingerprint
        createFingerprint() {
            // Which information to choose as the basis for browser fingerprint generation
            const options = {
                // fonts: {
                //     extendedJsFonts: true,
                // },
                // excludes: {
                //     audio: true,
                //     userAgent: true,
                //     enumerateDevices: true,
                //     touchSupport: true,
                // },
            };
            // Browser fingerprint
            const fingerprint = Fingerprint2.get(options, (components) => {
                // When the parameter is only a callback function or options is {}, the default browser fingerprint is generated based on all configuration information
                const values = components.map((component) => component.value); // Array of configured values
                const murmur = Fingerprint2.x64hash128(values.join(''), 31); // Generate browser fingerprint
                // console.log(components);
                // console.log(values);
                // console.log(murmur);
                localStorage.setItem('browserId', murmur); // Store the browser fingerprint, which is used in the project to verify user identity and bury points
				this.fpComponents = components
            });
        },

        showToast () {
            this.$store.commit('toast/NEW', { type: 'success', message: 'hello' })
        },
    },
};
</script>

<style>
	.wd{
		width: 300px;
	}
</style>
