<template>
    <div>
        <section class="text-left">
            <div class="text-sm flex item-center">
                <div class="bg-secondary text-grays-50 mr-2 h-6 w-20 grid place-items-center rounded-sm uppercase">{{showArt.type}}</div>
                <div class="h-5 w-2/3 text-left flex text-grays-500 items-center">{{showArt.created_at | moment}}</div>
            </div>
            <h1 v-if="lang =='id'" class="text-xl font-semibold mb-5 ">{{showArt.title}}</h1>
            <h1 v-else class="text-xl font-semibold mb-5 ">{{showArt.title_eng}}</h1>
            <div class="w-full grid place-items-center">
                <progressive-img
                    :src="showArt.image"
                    placeholder="https://dummyimage.com/1088x445/000/fff.jpg"
                    :blur=30
                    style="max-width:100% !important;"
                />
                <!-- <div class="text-xs">
                    <span>image caption Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.
                    </span>
                
                </div> -->
            </div>
            <div v-if="lang =='id'" class="text-left text-sm md:text-base mt-10 dvViewArt" v-html="showArt.content"></div>
            <div v-else class="text-left text-sm md:text-base mt-10 dvViewArt" v-html="showArt.content_eng"></div>
        </section>

        <div class="mt-20">
            <div class="border-secondary border-b-2 mb-8">
                <div v-if="lang == 'id'" class="bg-secondary text-grays-50 text-lg font-semibold p-2 w-max rounded-sm">Berita Lainnya</div>
                <div v-else class="bg-secondary text-grays-50 text-lg font-semibold p-2 w-max rounded-sm">More News</div>
            </div>
            <div class="flex flex-wrap justify-between">
                
                 <div 
                    class="w-full flex items-end md:w-23% rounded-sm cursor-pointer  bg-cover bg-center h-60 mb-6" 
                    :style="{ backgroundImage: `url(${item.image})` }" v-for="(item, i) in artFilter" :key="i"
                    @click="handleArt(item.hash)"
                 >
                    <div class="bg-mocha w-full p-3 text-left">
                        <div class="text-grays-50 text-xs flex item-center">
                            <div class="h-5 w-full flex items-center text-left">{{item.created_at}}</div>
                        </div>
                        <div class=" text-grays-50 text-sm  md:text-base  font-semibold leading-none mt-1 truncate">
                            <span v-if="lang =='id'">{{item.title}}</span>
                            <span v-else>{{item.title_eng}}</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        


    </div>
</template>

<script>
import { mapState } from 'vuex';
import moment from 'moment'
export default {
    computed: {
        ...mapState({
            showArt: state => state.news.viewArt ? state.news.viewArt.data :'',
            lang: state => state.home.lang ? state.home.lang :'id',
            art: state => state.news.article ? state.news.article.data :'',
        }),

        artFilter(){
            const article =  this.art.filter((item) => {
                return item.hash !== this.showArt.hash
                
            })
           
            return article.slice(0,4);
        }
    },
    methods: {
        async handleArt(hash){
            try {
                const payload = {
                    hash: hash
                }
                await this.$store.dispatch('news/getViewArt',payload)
                this.$router.push(
                    { 
                        name: "detail",
                        params: {id: hash}
                    }
                )


            } catch (error) {
                console.log(error)
                    this.$router.push(
                    { 
                        path: "/404"
                    }
                )
            }
            
            
        }
    },
    filters: {
        moment: function (date) {
            return moment(date).format('DD MMMM YYYY HH:mm');
        }
    },
}
</script>

<style lang="scss">
    .dvViewArt{
        p {
            @apply mb-6;
        }
    }
</style>