<template>
    <div class="grid place-items-center">
        <div class="flex justify-between w-full lg:w-5/12 mb-5 mt-10">
            <div class="bg-secondary text-grays-50 p-3 rounded-sm w-47% text-sm">PT Dharma Polimetal Tbk</div>
            <div class="bg-secondary text-grays-50 p-3 rounded-sm w-47% text-sm">Jenis Pekerjaan</div>
        </div>
        <div class="text-left w-full lg:w-5/12">
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Email</label>
                <input type="text" id="email" placeholder="" required class="inputStyle" />
            </div>
            <div class="mb-6">
                <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Nama</label>
                <input type="text" id="name" placeholder="" required class="inputStyle" />
            </div>
            <div class="mb-20">
                <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Pesan Anda</label>
                <input type="text" id="message" placeholder="" required class="inputStyle h-40" />
            </div>
            <div class="flex w-80 justify-between">
                <div class="bg-grays-300 text-secondary font-bold text-base p-3 w-36 text-center cursor-pointer rounded-sm">Upload CV</div>
                <div class="font-bold text-base p-3 w-36 bg-secondary text-grays-50 text-center cursor-pointer rounded-sm">Submit</div>
            </div>
        </div>
    </div>
</template>


<style>
    .inputStyle{
        @apply w-full px-3 py-2 placeholder-gray-300 rounded-sm focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 bg-grays-100;
        border:1px solid #1749E029;
    }
</style>